body {
  background-color: #0d3b4f;
}

.App {
  background-color: #062735;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 15px;
  padding: 20px;
}

#to-do-form input {
  background-color: #0d6991;

  border-radius: 15px;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  outline: none;
  border: 0;
}
#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.884);
  font-weight: bold;
}

#to-do-form input::focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #cf0079;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.App h2 {
  color: rgb(46, 158, 46);
  margin: auto;
  padding: 10px 10px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
